.filterBar {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  margin-bottom: 24px;
}

.buttons button {
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  transition: background 0.2s;
}

.buttons .active {
  background-color: var(--color-main);
  color: white;
  border-color: var(--color-main);
}

.search input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #524c4c;
  font-size: 1rem;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
